body {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif; }

#introscreen {
  background-color: black;
  color: white; }
  #introscreen .content {
    width: 500px;
    margin-left: 300px;
    margin-top: 50px; }
  #introscreen .header {
    min-width: 466px;
    min-height: 132px;
    background-image: url(images/onthebar3header.png);
    background-repeat: no-repeat; }
    #introscreen .header h1 {
      display: none; }
  #introscreen .header + p {
    margin-top: 0.75em; }
  #introscreen p {
    font-size: 1.2em;
    margin-top: 0.75em; }

.righttext {
  width: 400px;
  padding-top: 1em; }
  .righttext h2 + p {
    margin-top: 0.75em; }
  .righttext p {
    margin-top: 0.5em; }

#appscreen {
  background-color: white; }
  #appscreen .screens {
    position: relative; }
    #appscreen .screens .subbox {
      position: absolute;
      top: 100px;
      left: 400px; }

#bottomscreen {
  background-image: url(images/woodpanel.jpg);
  background-color: orange;
  background-size: cover; }

#napkin {
  background-image: url(images/napkin.png);
  background-size: cover;
  width: 340px;
  height: 340px;
  position: fixed; }

#cta {
  position: fixed;
  left: 100px;
  top: 40%;
  padding: 0.6em;
  width: 255px;
  height: 160px;
  background-color: white;
  color: black; }
  #cta img {
    margin-top: 1em; }

#phone {
  width: 320px;
  height: 673px;
  background: url(images/iphone-blank.png);
  background-size: contain;
  position: fixed; }
  #phone .screenarea {
    position: fixed;
    background-color: black;
    width: 269px;
    height: 478px;
    left: 27px;
    top: 98px;
    overflow: hidden; }
    #phone .screenarea .screen {
      position: fixed;
      left: 27px;
      top: 98px;
      background-color: black;
      width: 269px;
      height: 478px;
      background-size: contain;
      color: rgba(0, 0, 0, 0); }
