
$screenHeight: 478px
$screenWidth: 269px


body
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif

#introscreen 
  background-color: black
  color: white

  h1
    font-family: Helvetica
    font-size: 5em

  p
    font-size: 1.5em

.righttext
  position: fixed
  left: 30%
  width: 50%
  padding-top: 10%

#appscreen
  background-color: white 

#bottomscreen
  background-image: url(images/woodpanel.jpg)
  background-color: orange
  background-size: cover

#phone
  width: 320px
  height: 673px
  background: url(images/iphone-blank.png)
  background-size: contain
  position: fixed

  .screenarea
    position: fixed
    background-color: blue
    width: $screenWidth
    height: $screenHeight
    left: 27px
    top: 98px
    overflow: hidden

    .screen
      position: fixed
      left: 27px
      top: 98px
      background-color: black
      width: $screenWidth
      height: $screenHeight
      background-size: contain
      color: rgba(0,0,0,0)